
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Cairo:wght@200..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bg-main: #131722;
    --light-bg:#24daef;
}
a, a:hover {
color: #fff;
    text-decoration: none;
}
body {
font-family: "Montserrat", sans-serif !important;
}


input{
    background-color: rgb(75, 75, 75) !important;
    color: var(--main-color) !important;
}



.image-container{
    position: relative;
    transition: transform ;

}
.image-container:hover{
cursor: pointer;
transform: scale(1.1);
}
.image-container:hover .overlay{
opacity: 1;
}
.card{
    background: none;
    border: none;
}
.overlay{
    position: absolute;
    background: rgba(0,0,0,0.8);
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    bottom: 0;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;


}
.star-icon{
    color: gold;
}
.iconFav{
    color: red;
    padding-left: 10px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .changeColor{
   min-width: 10px ;
  }
